@media (max-width: 1200px){
    .container{
        max-width: 960px;
    }
}

@media (max-width: 992px){
    .container{
        max-width: 700px;
    }
    .logo{
        width: 132px;
    }
    .navbar{
        &-top{
            padding: 30px 0;

            
        }
        &__search{
            margin-left: 47px;
        }
        &-menu{
            padding: 20px 13.5px;
            &__link{
                font-size: 12px;
                line-height: 15px;
            }
        }
      
    }
    .search{
        &__input{
            width: 340px;

        }
    }
}
@media (max-width: 720px){
    .container{
        max-width: 576px;
        width: 92%;
    }
    .navbar{
        &-menu, &__search, &__user{
            display: none;
        }
        
        
    }
    .menu{
        &-button{
            display: flex;
            width: 16px;
            height: 11px;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            border: none;
            outline: none;
            background: $ligth;
            cursor: pointer;
            padding: 0;

            &__line{
                width: 16px;
                height: 1px;
                background: $text-color;
            }
        }
    }

}

@media (max-width: 320px){
    .container{
        max-width: 280px;
    }
    
    .logo{
       width: 99px; 
    }
    .navbar{

        &-top {
            padding: 25px 0;
        }
    }
}