@media (max-width: 1200px){
    .container{
        max-width: 960px;
    }

    .slider-hotel__container{
        width: 590px;
    }
    .card{
        width: 230px;
        height: 230px;
    }

    .footer{
        &__input-wrapper{
            flex-basis: 100%;
        }
    }
}

@media (max-width: 992px){
    .container{
        max-width: 700px;
    }
    .logo{
        width: 132px;
    }
    .navbar{
        &-top{
            padding: 30px 0;

            
        }
        &__search{
            margin-left: 47px;
        }
        &-menu{
            padding: 20px 13.5px;
            &__link{
                font-size: 12px;
                line-height: 15px;
            }
        }
      
    }
    .search{
        &__input{
            width: 340px;

        }
    }

    .slider-hotel__container{
        width: 700px;
        height: 450px;
    }

    .hotel{
        margin-bottom: 50px;
    }

    .hotel__slider{
        flex-wrap: wrap;
        height: auto;
    }
    .hotel__column{
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 30px;
        justify-content: space-between;
        width: 100%;

        &:last-child{
            margin-bottom: 0;
        }
    }
    .booking{
        width: 340px;
        min-height: 210px;
    }

    .map{
        width: 340px;
        height: 210px;
        overflow: hidden;
    }
    .newsletter__wrapper{
        max-width: 700px;
        padding: 71px 0 74px;

    }

    .newsletter__bg{
        bottom: 100%;
    }
    .reviews {
        padding: 15px 0 70px;
		// .reviews__title

		&__title {
            font-size: 30px;
            line-height: 38px;
            margin-bottom: 49px;
        }

		// .reviews__btn-prev

        &__btn-prev {
            top: 57%;
            left: 0;
		}

		// .reviews__btn-next

		&__btn-next {
            top: 57%;
            right: 0;
		}
    }

    .slider-reviews {
        max-width: 579px;
    }


    .slide-review {

        &:before{
            display: none;
        }
        &:after{
            display: none;
        }

		// .slide-review__stars

		&__stars {
            margin-bottom: 20px;
		}

		// .slide-review__text

		&__text {
            max-width: 452px;
		}
    }

    .activities{
        padding: 18px 0 50px 0;
        &-wrapper{
            flex-wrap: wrap;
        }
    }

    .card{
        width: 339px;
        height: 255px;
        margin-bottom: 20px;
    }

    .packages {
       
        &__title{
            font-size: 30px;
            line-height: 38px;
        }
    
        // .packages__grid
    
        &__grid {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 500px 500px 500px;
            column-gap: 30px;
            row-gap: 30px;
        }
    
    }

    .footer{
        padding: 73px 0 46px;
        &-wrapper{
            grid-template-columns: 160px repeat(5, 1fr);
            grid-row-gap: 40px;
        }
        &__logo{
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            width: 100px;
            height: 110px;
            margin-bottom: 10px;
            object-fit: contain;

        }
        &__social-network {
            grid-row: 1 / 2;
            grid-column: span 4;
            align-self: center;
        }
        &__categories{
            grid-row: 2 / 3;
            grid-column: 1 / 2;

        }
        &__legal{
            grid-column: span 2;
            margin-left: -5px;

        }
        &__contact-details{
            grid-column: span 5;
            grid-row: 3 ;
        }
        &__contact-form {
            grid-column: span 5;
            grid-row: 4;
        }
        &__additional{
            grid-column: 2 / 5;
            margin-left: 20px;
        }
        &__message{
            max-width: 100%;
            margin-bottom: 20px;
        }
        &__input-wrapper{
            flex-basis: 47%;
        }
        &__rights {
            margin-top: 62px;
            grid-template-columns: repeat(2, 1fr);
            &-image{
                position: relative;
                margin-left: auto;
            }
        }
        &__title--mt-10 {
            margin-top: 22px;
        }
        &__item--mb-2 {
            margin-bottom: 20px;
        }
        &__title--mb-3 {
            margin-top: 0px;
            margin-bottom: 34px;
        }
        &__form{
            width: 91%;
        }
        &__title--inline{
            margin: 0 43px 0 6px;
        }
        &__icon{
            margin-top: 2px;
            margin-left: 8px;
        }
        &__icon-wrapper {
            min-width: 44px;
        }
        &__rights-text {
            grid-column: 1;
            margin: 0;
        }

        

    }


}
@media (max-width: 750px){
    .packages{
        &__grid{
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .main-card__footer{
        margin-top: 25px;
    }
}




@media (max-width: 720px){
    .container{
        max-width: 576px;
        width: 92%;
        &_mobile_top{
            margin-top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    body{
        padding-top: 69px;
    }
    .navbar{

        &_mobile_fixed{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 99;
            height: 72px;
        }
        &-bottom{
            display: none;

            &_mobile_visible{
                display: flex;
                justify-content: flex-start;
                position: fixed;
                left: 0;
                right: 0;
                bottom: 0;
                top: 71px;
                padding-top: 31px;
                overflow-y: auto;

                
            }

        }
        &__search, &__user{
            display: none;
            &_mobile_visible{
                display: flex;
                flex-direction: column;
            }
        }
        &__user{
            &_mobile_visible{
                display: flex;
                flex-direction: column;
                margin-bottom: 26px;

                span{
                    color: $ligth;
                    margin-left: 0;
                    margin-top: 10px;
                }
            }
        }
        &__search{
            &_mobile_visible{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-left: 0;
                margin-bottom: 17px;
                margin-right: 0;
                width: 89%;


                .search__input{
                    width: 100%;
                    margin-left: 8px;
                    border-radius: 5px; 
                }
            }
            
        }

        
        &-menu{
            flex-direction: column;
            &__item{
                margin-bottom: 17px;
            }
            

        }
        
    }
    .search{
        &__button{
            width: 68px;
        }
    }
    .menu{
        &-button{
            display: flex;
            width: 16px;
            height: 11px;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            border: none;
            outline: none;
            background: $ligth;
            cursor: pointer;
            padding: 0;

            &__line{
                width: 16px;
                height: 1px;
                background: $text-color;
            }
        }
    }

    //  запросы для блока HOTEL

    .hotel-text {
            width: 100%;

            // .hotel-text__wrapper

            &__wrapper {
                justify-content: space-between;
            }

            // .hotel-text__title

            &__title {
                flex-basis: 100%;
                margin-top: 10px;
            }

            // .hotel-text__offer

            &__offer {
                order: -1;
                margin-left: 0;
            }

    }
    .stars {
        flex-basis: auto;
        margin-top: 0;
    }
    .hotel-ratting {
        display: none;
    }

    .booking{
        width: 100%;
    }
    .map{
        margin-top: 20px;
        width: 100%;
        margin-bottom: 40px;
        iframe{
            width: 100%;
        }
    }

    .maps{
        width: 100%;
    }
    .hotel{
        margin-bottom: 2px;
    }
    .hotel__column{
        margin-bottom: 20px;
    }
    .slider-hotel__container{
        height: 179px;
    }

    .newsletter__wrapper{
        flex-direction: column;
        align-items: flex-start;
        max-width: 576px;
        width: 92%;
        padding: 58px 0 82px;
    }

    .form-newsletter__input{
        width: 100%;
    }

    .form-newsletter__input-wrapper{
        width: 100%;
    }
    .form-newsletter{
        width: 100%;
    }

    .reviews {

		// .reviews__title

		&__title {
            font-size: 18px;
            line-height: 23px;
            margin-top: 25px;
            margin-bottom: 43px;
        }

        // .slider-reviews__btn-prev

		&__btn-prev {
            top: 122px;
            left: 33px;
		}

		// .slider-reviews__btn-next

		&__btn-next {
            top: 122px;
            right: 33px;
		}

    }
    .slider-reviews {
        max-width: 100%;
    }
 
    .slide-review {

		&__text {
            padding: 0 20px;
		}
    }

    .card{
        width: 49%;
    }

    .activities{
        padding: 40px 0 40px 0;

    }

    .packages {

        &__title{
            font-size: 18px;
            line-height: 23px;
        }
        // .packages__grid
    
        &__grid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(5, 500px);
            row-gap: 30px;
            margin-left: 0;
            margin-right: 0;
        }
    
        // .packages__grid-item
    
        &__grid-item {
    
            &:nth-child(1){
                grid-column: span 1;
            }
    
        }
    }

    .main-card {
        flex-direction: column;
    
        // .main-card__column
    
        &__content {
            width: 100%;
            height: 50%;
            padding: 30px 21px 25px 32px;
            border-radius: 0 0 8px 8px;

        }

        &__image{
            width: 100%;
            height: 50%;
            img{
                width: 100%;
                height: 100%;
                object-fit: center;
                border-radius: 8px 8px 0 0;
            }
        }
    
        // .main-card__title
    
        &__title {
            font-weight: bold;
            font-size: 18px;
            margin: 0;
            line-height: 23px;
            margin-bottom: 23px;
    
        }
    
        // .main-card__description
    
        &__description {
            
           display: none;
        }
    
        // .main-card__group
    
        &__group {
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 9px;
            &:nth-child(3){
                margin-bottom: 0;
                
            }
    
        }
    
        // .main-card__footer
    
        &__footer {
            margin-top: 24px;
            
        }
    
     
    
        // .main-card__oldprice
    
        &__oldprice {
            font-size: 14px;
        line-height: 18px;
        margin-bottom: 5px;
        }
    
      
    
    }

    .footer{
        padding: 60px 0 46px;
        &__input-wrapper{
            flex-basis: 100%;
        }

        &-wrapper{
            grid-template-columns: 1fr;
        }
        &__logo{
            grid-row: 1;
            grid-column: 1;
            width: 100px;
            margin-top: 9px;
            margin-bottom: 0;
            height: 109px;
            object-fit: contain;
        }
        &__social-network{
            grid-row: 2;
            grid-column: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        &__social-links{
            margin-top: 22px;    
        }
        &__additional{
            grid-row: 4;
            grid-column: 1;
            margin-left: 0;
        }
        &__categories{
            grid-row: 5;
            grid-column: 1;
        }
        &__legal{
            grid-row: 3;
            grid-column: 1;
            margin-left: 0;
        }
        &__contact-details{
            grid-row: 6;
            grid-column: 1;
        }
        &__contact-form {
            grid-row: 7;
            grid-column: 1;
        }
        &__rights {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 30px;
            &-image{
                margin-top: 10px;
            }
            
        }
        &__title--mt-1{
            margin-top: -11px;
        }

        &__title--mt-10 {
            margin-top: 4px;
            margin-bottom: 26px;
        }
        &__icon-wrapper {
            min-width: 30px;
        }
        &__text{
            margin-bottom: 24px;
            line-height: 19px;
        }
        &__item--mb-2 {
            margin-bottom: 22px;
        }
        &__title--mb-3 {
            margin-top: -3px;
            margin-bottom: 16px;
        }
        &__form{
            width: 100%;
        }

        &__info{
            width: 100%;
        }
        &__button{
            order: 2;
            margin-top: 15px;
        }
        &__message{
            margin-bottom: 0;

            &-wrapper{
                margin-bottom: 12px;
            }
        }
        &__icon {
            margin-top: 4px;
            margin-left: 0px;
        }
        &__title--inline{
            margin-left: 0;
        }
        &__rights-image {
        }
        &__rights {
            grid-template-columns: 1fr;
            &-image{
                margin: 12px 0 0;
            }
        }
    }

   

}

@media (max-width: 560px){
    .card{
        width: 100%;
        &:nth-child(1){
            order: 0;
        }
        &:nth-child(3){
            order: 1;
            margin-bottom: 28px;
        }
        &:nth-child(2){
            order: 2;
        }
        &:nth-child(4){
            order: 3;
        }
    }
    .invalid{
        font-size: 12px;
    }

    .modal{
        &__dialog{
            max-width: 576px;
            width: 92%;
            padding: 26px 50px 30px;
            
        }
    }
}



@media (max-width: 440px){
    .reviews {

        padding: 15px 0 30px;

        &__title{
            max-width: 245px;

        }

		// .reviews__btn-prev

        &__btn-prev {
            top: 143px;
            left: 33px;
		}

		// .reviews__btn-next

		&__btn-next {
            top: 143px;
            right: 33px;
        }
        
        
    }
    .activities{
        &__title{
            font-size: 18px;
            line-height: 23px;
            margin-bottom: 36px;

        }
    }

    .modal{
        &__button{
            order: 2;
        }

        &__info{
            width: 100%;
            margin-bottom: 20px;
        }
    }

    
    

}


@media (max-width: 320px){

    .container{
        max-width: 280px;
    }
    
    .logo{
       width: 99px; 
    }
    .navbar{

        &-top {
            padding: 25px 0;
        }
    }

    //  стили для блока hotel
    .hotel {

        padding: 0;
		// .hotel__wrapper

		&__wrapper {
		}
    }

    .hotel-text {

        // .hotel-text__title

        &__title {
            margin-top: 13px;
        }

    }
    .stars {
        margin-right: 17px;
    }

    .hotel__wrapper{
        padding-bottom: 26px;
    }
 
    .slider-hotel__btn-next{
        right: 9px;
    }

    .slider-hotel__btn-prev{
        left: 5px;
    }

    .slider-hotel__btn{
        width: 12px;
        height: 12px;
        background-size: 4px 7px;
        top: 52%;
    }

    .booking{
        padding: 30px 23px 25px;
    }

    .map{
        height: 172px;

    }

    .maps{
        height: 172px;

    }

    .newsletter__wrapper{
        max-width: 280px;
    }

    .newsletter{

        &__title{
            font-size: 20px;
            line-height: 28px;
        }
          &__subtitle {
            font-size: 30px;
            line-height: 44px;
        }
    }

    .form-newsletter{
        margin-top: 17px;

        &__input{
            padding-left: 16px;
        }
    }

    .reviews {
        &__title{
            max-width: 245px;

        }
    }
    
    .slide-review {

		&__text {
            max-width: 217px;
            text-align: left;
            padding: 0;
		}
    }

    .modal{
        &__dialog{
            padding: 26px 20px 30px;
            
        }
    }
    .package-card__button, .main-card__button {
        min-width: 105px;
    }

}