* {
    box-sizing: border-box;
}

body{
    font-family: 'Mulish', sans-serif;
    color: $text-color;
}

.container{
    max-width: 1110px;
    margin: auto;
}

img{
    max-width: 100%;
    object-fit: cover;
}

// input[type="search"]::-moz-placeholder {color: $text-color;}
// input[type="search"]::-webkit-input-placeholder { color: $text-color; }
// input[type="search"]:-ms-input-placeholder { color: $text-color;}
// input[type="search"]::-ms-input-placeholder { color: $text-color; }
input[type="search"]::placeholder {color: $text-color;} 
  