* {
    box-sizing: border-box;
}

body{
    font-family: 'Mulish';
    color: $text-color;
    background: $background;
}

.container{
    max-width: 1110px;
    margin: auto;
}

img{
    max-width: 100%;
    object-fit: cover;
}

input[type="search"]::placeholder {color: $text-color;} 
  


.invalid{
    color: $primary;
    border-bottom: 1px solid $primary;
}

@media(hover: hover) and (pointer: fine){
    .booking__button{
        background: #EC1F46;
        &:hover{
            background: #b11632;

        }
    }

    .main-card__button{
        background: #EC1F46;
        &:hover{
            background: #b11632;

        }

    }

    .package-card__button{
        background: #EC1F46;
        &:hover{
            background: #b11632;

        }
    }

    .form-newsletter__button, .search__button, .card__button, .footer__button{
        background: #EC1F46;
        &:hover{
            background: #b11632;

        }
    }
}